/**
 * styles.css
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
   
}
#title h4
{
    text-align: left; !important;
}

#middle td
{
    /* left-align tables' cells */
    text-align: left;
}

#tcenter td
{
    /* shrink bottom's font size */
    text-align: center !important;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}
